<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>joinForm.html</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>

    <h1>회원가입 페이지</h1>

    <hr />

    <form action="/join" method="post">
        <input type="text" name="username" placeholder="Enter username..." /><br />
        <input type="password" name="password" placeholder="Enter password..." /><br />
        <input type="email" name="email" placeholder="Enter email..." /><br />
        <button>회원가입</button>
    </form>

    <hr />

</body>
</html>