<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginForm.html</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>

    <h1>로그인 페이지</h1>

    <hr />

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="enter username..." /><br />
        <input type="password" name="password" placeholder="enter password..." /><br /><br />

        {{ #loginErrorMsg }}
        <h6 style="color: red">{{ loginErrorMsg }}</h6>
        {{ /loginErrorMsg }}

        <button>로그인</button>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=4e81aad6451ddd4384ecea1d994c6044&redirect_uri=http://localhost:9090/auth/kakao/callback&response_type=code"><img src="/images/kakao_login_button.png" /></a>
    </form>

    <hr />

    <a href="/joinForm">회원가입을 아직 하지 않으셨나요?</a>

</body>
</html>